.user-item {
  margin: 2rem auto;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  text-align: center;
  list-style-type: none;
}

.user-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: black;
  background: #192a5ebf;
}

.user-item a:hover,
.user-item a:active {
  background: #335cd7bf;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 8rem;
  height: 8rem;
  margin-bottom: 20px;
}

.user-item__info h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: black;
}

.user-item__info h3 {
  margin: 0;
}
.user-item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
